
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_masterpage.cshtml";
}

<h1>Index</h1>

<button onclick="get()" class="btn-bg-danger">buraya tıklaaaaaaaaaaa</button>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var get = function () {
        alert("geldi.")
    }
</script>